.search-container {
  max-width: 400px;
  margin: 1rem auto;
  text-align: center;
}

.full-width {
  width: 100%;
}

.loading-spinner {
  position: absolute;
  right: 10px;
  top: 12px;
}

.error {
  margin-top: 10px;
  color: red;
  font-weight: bold;
}
